<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php">

    <testsuites>
        <testsuite name="Unit">
            <directory>./test/units</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>./test/integration</directory>
        </testsuite>
    </testsuites>

</phpunit>
